@charset "utf-8";

/* コメントアウトは範囲指定でcommandキーとスラッシュキーで行う */
div {
    margin-bottom: 200px;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 200px;
    font-size: 35px;
    color: rgb(91, 20, 20);

    width: 100px;
    height: 100px;
    background-color: yellowgreen;
}
p {
    color: rgb(0, 94, 255);
    background-color: rgb(109, 255, 123);
    font-weight: bold;
    font-size: 30px;
    line-height: 2;
    width: 600px;
    margin-left: 20px;
}