@charset "utf-8";

/* コメントアウトは範囲指定でcommandキーとスラッシュキーで行う */
/*div {
    /*margin-bottom: 200px;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 200px;*/
    margin: 150px 200px 150px 20px;
    font-size: 30px;
    color: rgba(84, 25, 25, 0.86);
    text-indent: em;

    width: calc(100% - 50px);
    height: 100px;
    background-color: rgb(233, 255, 188);
    transform: translate(50px, 30px) rotate(-5deg) skew(-10deg);
} */
p {
    margin: 100px 100px 0px 20px;
    color: rgb(0, 94, 255);
    background-image: url("./d7006-5733-133092-0.jpg");
    background-repeat: no-repeat;
    font-weight: bold;
    font-size: 30px;
    text-indent: 6em;
    line-height: 30;
    transform: translate(50px, 30px)
}

/*#text {
    color:rgba(0, 0, 0, 0.636)
}

.text {
    color: rgba(255, 131, 152, 0.877)
}

a:hover {
    color: goldenrod;
}*/

.headline {
    color: blue;
}

/* 子孫セレクタ */
.parent p {
    color: greenyellow;
}

/* 子セレクタ */
.parent > p {
    color: aquamarine;
}

.abc p {
    color: green;
}

.abc > a {
    color: gray;
}

.abc > a:hover {
    color: rgba(184, 184, 0, 0.85);
}

.def {
    width: 30px;
    height: 30px;
    background-color: #ff0000;
    margin: 10px;
}

.def + a {
    font-size: 30px;
}